<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" placeholder="Ingredient Name">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="quantity">Quantity</label>
                    <input type="text" id="quantity" class="form-control" placeholder="Quantity">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success me-2 my-2" type="submit">Add</button>
                    <button class="btn btn-danger me-2 my-2" type="button">Delete</button>
                    <button class="btn btn-primary me-2 my-2" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
